html {
   height:100%;
}
body {
   height:100%;
   margin:0px;
   background-color: #1f1f1f;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
}

header, .header-shadow {
   background-color:#282828;
   padding: 10px;
   display:flex;
}
.header-shadow {
   display:none;
}
header a {
   text-decoration: none;
   color:white;
}

.main-description {
	text-align: center;
	flex-grow: 2;
	font-style: italic;
	font-size: 80%;
}

.title-bar-user-controls {
   margin-left: auto;
}
.main-title-open {
   color:#FFFF88;
}
.main-title-media {
   color:#88FFFF;
}
.main-title-gallery {
   color:#FFFFFF;
}

.main-body {
   width:90%; 
   margin:0 auto; 
}



#nav-list {
   padding-top:8px;
   width:150px;
   min-width:120px;
   background-color:#282828;
   color:white;
}
.nav-list-item, .nav-list-header {
   color:white;
   padding:12px 22px ;
   display: block;
   text-decoration: none;
}
.nav-list-header {
   color:#aaa;
}
.nav-list-item a {
   text-decoration: none;
   color:white;
}
.nav-list-item:hover {
   background-color:#888888 !important;
}

.dialog {
   background-color:white;
   padding: 20px;
   color:black;
   display:none;
}

.feed-options {
   display: flex;
   flex-wrap: wrap;
}
.feed-options select {
   flex-grow: 1;
   margin: 2px;
}
.feed-options input {
   flex-grow: 2;
   margin: 2px;
}

.main-nav-drawer-icon {
   display: none;
}

.is-mobile {
   position:absolute;
   width: 0px;
   height: 0px;
   top: -1000px;
}

@media (max-width:750px){
   .is-mobile {
      width:1px;
   }
   .main-nav-drawer-icon {
      cursor: pointer;
      display:inline-block;
      margin-right: 6px;
   }
   .main-description {
      display:none;
   }
}

.inbox-dialog {
   display:none;
   position: fixed;
   right:4px;
   top:36px;
   width:240px;
   background-color: #282828;
   border: 1px solid #808080;
}

.inbox-item, .inbox-item-unread {
   margin:4px;
   padding:12px 18px;
   cursor: pointer;
}

.inbox-item:hover, .inbox-item-unread:hover {
   background-color: #606060;
   
}

.inbox-item-unread {
   background-color: #484848;
   
}

.user-menu-link, .login-signup-link, .inbox-indicator {
   cursor: pointer;
   padding-left: 5px;
}
.inbox-item-datetime {
   font-size: 0.8em;
   font-style: italic;
   color:#a0a0a0;
}